/*
  color-theme: ayu
  https://github.com/ayu-theme/ayu-colors
*/

:root {
  --color-primary: #399ee6;
  --color-secondary: #709ecc;
  --color-accent: #86b300;

  --background-color: #fafafa;
  --background-color-alt: #f0f0f0;
  --background-color-highlight: #e1e1e2;
  
  --text-color: #575f66;
  --text-color-alt: #8a9199;
}

[data-theme="dark"] {
  --color-primary: #59c2ff;
  --color-secondary: #39bae6;
  --color-accent: #ff8f40;

  --background-color: #232834;
  --background-color-alt: #323a4c;
  --background-color-highlight: #101521;
  
  --text-color: #cbccc6;
  --text-color-alt: #707a8c;
}