:root {
  /*
    for reference. do not to use variables directly from other value.
    copy the hex value and use it.
    refer: gray and blue from tailwind color, https://tailwindcss.com/docs/customizing-colors
 */

  /* grays */
  --color-gray-50:  #fafafa; /* extra-thin */
  --color-gray-100: #f4f4f5; /* thin */
  --color-gray-200: #e4e4e7; /* extra-light */
  --color-gray-300: #d4d4d8; /* light */
  --color-gray-400: #a1a1aa; /* normal (regular) */
  --color-gray-500: #71717a; /* medium */
  --color-gray-600: #52525b; /* semi-bold */
  --color-gray-700: #3f3f46; /* bold */
  --color-gray-800: #27272a; /* extra-bold (ultra-bold) */
  --color-gray-900: #18181b; /* black (heavy) */

/* blue */
  --color-blue-50:  #eff6ff; /* extra-thin */
  --color-blue-100: #dbeafe; /* thin */
  --color-blue-200: #bfdbfe; /* extra-light */
  --color-blue-300: #93c5fd; /* light */
  --color-blue-400: #60a5fa; /* normal (regular) */
  --color-blue-500: #3b82f6; /* medium */
  --color-blue-600: #2563eb; /* semi-bold */
  --color-blue-700: #1d4ed8; /* bold */
  --color-blue-800: #1e40af; /* extra-bold (ultra-bold) */
  --color-blue-900: #1e3a8a; /* black (heavy) */
}