td,
th {
  border: 1px solid var(--border-color);
  text-align: left;
  padding: var(--space-half);
}

th {
  background: var(--background-color-highlight);
  font-weight: bold;
}

tr:nth-child(even) {
  background: var(--background-color-alt);
}