/*
  jekyll supports sass out of the box.
  Use only when plain CSS do not suffice.
*/
$breakpoint-small:  420px;
$breakpoint-medium: 640px;
$breakpoint-large:  800px;
$breakpoint-extralarge: 1200px;

header,
footer {
  padding: var(--space-base) 0;
  font-family: var(--font-family-sans);
}

/* title/logo */
header h1 {
  font-family: var(--font-family-sans);
  font-size: calc(var(--font-size) * calc(1.618 * var(--typescale-heading));
  font-weight: 700;
}

header h1 a, header h1 a:visited {
  color: var(--text-color);
  text-decoration: none;
}

header h1 a:hover, header h1 a:active {
  color: var(--text-color-link);
  text-decoration: none;
}

footer {
  font-size: var(--font-size-smaller);
}

/* nav links (header/footer) */
nav a {
  padding: var(--space-quarter) 0;
  margin: var(--space-quarter);

  font-size: var(--font-size-smaller);
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover, nav a:active {
  text-decoration: none;
  border-bottom: 2px solid var(--text-color-link-hover);
}

/* larger screens */
@media (min-width: $breakpoint-large) {
  blockquote,
  .content-extend {
    margin-left: calc(-1 * var(--space-double));
    margin-right: calc(-1 * var(--space-double));
  }
  
  figure {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    
    width: 100vw;
    max-width: var(--image-width-max);
    transform: translateX(calc(50vw - 50%));
  }
}

/* images --------------------------------------- */
img.small-right,
img.small-left {
  max-width: 60%;
  margin: 0 var(--space-base);
  padding: 0;
}

img.small-right { float: right; margin-right: 0; }
img.small-left  { float: left;  margin-left: 0; }

img.large-center {
  position: relative;
  
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  width: 100vw;
  height: auto;
  max-width: var(--image-width-max);
  
  transform: translateX(calc(50vw - 50%));
}

/* for smaller screens, have full-width contents but not round corners */
@media (max-width: $breakpoint-medium) {
  figure,
  figure img,
  main img,
  img.large-center {
    border-radius: 0;
  }

  main img {
    position: relative;
  
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    width: 100vw;
    height: auto;
    max-width: var(--image-width-max);
    
    transform: translateX(calc(50vw - 50%));
  }

  /* reset images inside figure */
  figure img {
   left: 0;
  }
}

/* articles lists --------------------------------------- */
.blog-articles__list {
  margin: var(--space-base) 0;
  padding: 0;
  
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.blog-articles__list li {
  list-style: none;
  padding: calc(1.5 * var(--space-quarter)) var(--space-double);
  border-bottom: 1px solid var(--border-color);
}

.blog-articles__list li:last-child {
  border: 0 none;
}

.blog-articles__list li:nth-child(even) {
  background: var(--background-color-alt);
}

.blog-articles__list time {
  margin: 0;
  padding: 0 var(--space-quarter);
  
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-smallest);
  color: var(--text-color-alt);
}

/* posts/articles --------------------------------------- */

.post-meta,
.post-nav {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: var(--space-half) var(--space-base);

  background: var(--background-color-alt);
  border-radius: var(--border-radius);
  
  font-family: var(--font-family-sans);
  font-size: var(--font-size-smallest);
  text-transform: uppercase;

  opacity: var(--opacity-low);
}

.post-nav a {
  padding: var(--space-half);
  text-decoration: none;
}

/* powered by Google Programmable Search, https://programmablesearchengine.google.com/ */
.site-search {
  margin: 0 0 var(--space-double);
  padding: var(--space-half);
  
  border-radius: var(--border-radius);
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

/* responsive video */
.video-wrap {
  position: relative;
  margin-top: var(--space-base);
  margin-bottom: var(--space-base);
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}
  
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* rogue syntax highlighter - applies to both the DIV and PRE */
.highlight {
  margin: var(--space-base) 0;
  padding: 0;
  width: 100%;
  transform: translateX(0);
  text-align: left;
  background: none;
  border: 0 none;
  border-radius: var(--border-radius);
}



/* UTILITIES --------------------------------------- */

/* clamp content to one line */
.one-liner {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* debug: attach a "?" class to debug with a blinking box */
.\? {
  animation: \?wobble 0.5s ease-in-out alternate infinite;
}
@keyframes \?wobble {
  0% { box-shadow: inset 1px 1px gold, inset -1px -1px gold; }
  100% { box-shadow: inset 5px 5px red, inset -5px -5px red; }
}
