<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {%- if title -%}{{ title }}
  {%- elsif page.title -%}{{ page.title }}
  {%- else -%}{{ site.title }}
  {%- endif -%}
</title>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="robots" content="index,follow">

<style type="text/css">
{%- capture include_to_scssify -%}
  {% include css/settings.css %}
  {% include css/styles.css %}
  {% include css/styles-extended.css %}
    {% if page.type == posts %}
    {% include css/styles-code.css %}
    {% endif %}
{%- endcapture -%}
{{- include_to_scssify | scssify | strip_newlines  -}}
</style>
<link rel="stylesheet" media="print" href="{{ site.url }}/static/print.css">

</head>
<body>

<main>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</main>

</body>
</html>
